@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --base-background: #f4f6f8;
    --background-shade: #fff;
    --text-primary: #19202d;
    --text-secondary: #6e8098;
    --text-teritary: #5964e0;
    --listing-highlight: rgb(209 213 219 / 0.3);
    --checkbox-unchecked: #19212e1a;
    --button-highlight: #939bf4;
    --button-light-bg: #eeeffc;
    --button-light-text: #5964e0;
    --button-light-hover-bg: #c5c9f4;
  }

  html.dark {
    --base-background: #121721;
    --background-shade: #19202d;
    --text-primary: #fff;
    --listing-highlight: rgb(55 65 81 / 0.5);
    --checkbox-unchecked: #ffffff1a;
    --button-light-bg: #303642;
    --button-light-text: #fff;
    --button-light-hover-bg: #525861;
  }

  html.system {
    @media (prefers-color-scheme: dark) {
      --base-background: #121721;
      --background-shade: #19202d;
      --text-primary: #fff;
      --listing-highlight: rgb(55 65 81 / 0.5);
      --checkbox-unchecked: #ffffff1a;
      --button-light-bg: #303642;
      --button-light-text: #fff;
      --button-light-hover-bg: #525861;
    }
  }

  body {
    @apply bg-[var(--base-background)] transition-colors origin-top;
  }
}

@layer utilities {
  .container {
    @apply max-w-screen-xl mx-auto;
  }
  .divide-right {
    @apply after:content-[''] after:absolute after:w-px after:h-[5.125rem] after:bg-[#6e809833] 
    after:top-1/2 after:right-0 after:-translate-y-1/2 after:hidden md:after:block;
  }
}

@layer components {
  .themeSwitcher li {
    @apply p-1 w-7 h-7 rounded-full grid place-content-center hover:bg-indigo-300 hover:text-yellow-300 transition-colors;
  }
  .themeSwitcher li.active {
    @apply bg-indigo-400 text-yellow-400;
  }

  .loginOptionButton {
    @apply flex items-center w-4/5 py-2 rounded-md mx-auto justify-center gap-2 
    border border-[var(--checkbox-unchecked)] hover:border-[var(--text-teritary)]
    hover:cursor-pointer transition-colors font-medium hover:bg-[var(--text-teritary)] hover:text-white;
  }

  input[type='checkbox'] {
    @apply opacity-0 cursor-pointer absolute;
  }
  input[type='checkbox'] + label {
    @apply cursor-pointer flex items-center gap-3 before:content-[''] before:inline-block before:w-6 before:h-6 
    before:rounded-[3px] before:bg-[var(--checkbox-unchecked)];
  }

  input[type='checkbox']:checked + label::before {
    @apply bg-[var(--text-teritary)] bg-[url(/SearchBar/checkIcon.svg)] bg-no-repeat bg-center bg-[69%_auto];
  }

  .ApplyButton {
    @apply block text-center px-6 py-3 font-bold rounded-md text-white
    bg-[var(--text-teritary)] transition-colors hover:bg-[var(--button-highlight)] hover:text-[#19202d];
  }

  div.job-placeholder div {
    @apply rounded-md bg-[var(--button-light-bg)];
  }

  div.pagination-placeholder div {
    @apply w-3 h-3 rounded-full bg-[--button-highlight] opacity-75;

    animation: jump 2s linear infinite;

    &:nth-child(2) {
      animation-delay: 0.5s;
    }
    &:nth-child(3) {
      animation-delay: 1s;
    }
    &:nth-child(4) {
      animation-delay: 1.5s;
    }
  }

  @keyframes jump {
    15% {
      transform: translateY(-10px);
    }
    25% {
      transform: translateY(0);
    }
  }

  div.details-placeholder div.placeholder-box,
  div.details-placeholder div.placeholder-box-plain,
  div.application-placeholder div:empty {
    @apply bg-[var(--button-light-bg)] rounded-md;
  }
  div.details-placeholder div.placeholder-box {
    @apply animate-pulse;
  }

  @keyframes fadeIn {
    fron {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .fade-in {
    opacity: 0;
    animation: fadeIn 1.25s linear 250ms forwards;
  }
}
