@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --base-background: #f4f6f8;
    --background-shade: #fff;
    --text-primary: #19202d;
    --text-secondary: #6e8098;
    --text-teritary: #5964e0;
    --listing-highlight: rgb(209 213 219 / 0.3);
  }

  html.dark {
    --base-background: #121721;
    --background-shade: #19202d;
    --text-primary: #fff;
    --listing-highlight: rgb(55 65 81 / 0.5);
  }

  html.system {
    @media (prefers-color-scheme: dark) {
      --base-background: #121721;
      --background-shade: #19202d;
      --text-primary: #fff;
      --listing-highlight: rgb(55 65 81 / 0.5);
    }
  }

  body {
    @apply bg-[var(--base-background)] transition-colors origin-top;
  }
}

@layer utilities {
  .container {
    @apply max-w-screen-xl mx-auto;
  }
}

@layer components {
  .themeSwitcher li {
    @apply p-1.5 w-6 h-6 rounded-full grid place-content-center hover:bg-indigo-300 hover:text-yellow-300 transition-colors;
  }
  .themeSwitcher li.active {
    @apply bg-indigo-400 text-yellow-400;
  }

  .loginOptionButton {
    @apply flex items-center w-4/5 py-2 rounded-md mx-auto justify-center gap-2 border 
    hover:cursor-pointer transition-colors font-medium hover:bg-gray-400 hover:text-white;
  }
}
